/* grid.css */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem; /* pr-4 */
  padding-left: 1rem;  /* pl-4 */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
